<h2 class="welcome">Welcome <span *ngIf="userDetails?.roleId === 1">Normal</span><span
        *ngIf="userDetails?.roleId === 2">Privileged</span> User </h2>
<form>
    <div class="container">
        <label for="price"><b>Gold Price(per gram)</b></label>
        <span class="validation" *ngIf="!price && price !=0 "> Please enter price</span>
        <input [(ngModel)]="price" type="number" placeholder="Enter Price" name="price" required>
        <label for="weight"><b>Weight</b></label>
        <span class="validation" *ngIf="!weight && weight!=0"> Please enter weight</span>
        <input [(ngModel)]="weight" type="number" placeholder="Enter Weight" name="weight" required>
        <label for="total"><b>Total Price</b></label>
        <input [(ngModel)]="total" type="text" name="total" required>
        <ng-container *ngIf="userDetails?.roleId === 2">
            <label for="discount"><b>Discount(%)</b></label>
            <input [(ngModel)]="discount" disabled type="text" name="discount" required>
        </ng-container>
        <button [disabled]="!price || !weight" (click)="calculateTotal()" type="button">Calculate</button>
        <button (click)="printToScreen()" type="submit">Print To Screen</button>
        <button (click)="printToFile()" type="submit">Print To File</button>
        <button (click)="printToPaper()" type="submit">Print To Paper</button>
    </div>
</form>

<div #previewModal class="modal">
    <form class="modal-content animate">
        <div class="imgcontainer">
            <span (click)="toggleModal('none')" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
            <label for="price"><b>Gold Price(per gram)</b></label>
            <input disabled value="price" [(ngModel)]="price" type="number" placeholder="Enter Price" name="price"
                required>
            <label for="weight"><b>Weight</b></label>
            <input disabled [(ngModel)]="weight" type="number" placeholder="Enter Weight" name="weight" required>
            <label for="total"><b>Total Price</b></label>
            <input disabled [(ngModel)]="total" disabled type="text" name="total" required>
            <ng-container *ngIf="userDetails?.roleId === 2">
                <label for="discount"><b>Discount(%)</b></label>
                <input disabled [(ngModel)]="discount" disabled type="text" name="discount" required>
            </ng-container>
        </div>
    </form>
</div>