<html>

<body>
  <div #loginModal class="modal">
    <form class="modal-content animate">
      <div class="imgcontainer">
        <h2>LOGIN</h2>
      </div>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <span class="validation" *ngIf="userName == ''"> Please enter username</span>
        <input [(ngModel)]="userName" type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <span class="validation" *ngIf="password == ''"> Please enter password</span>
        <input [(ngModel)]="password" type="password" placeholder="Enter Password" name="psw" required>
        <span class="validation" *ngIf="!isLoginValid"> Invalid credentials</span>
        <button [disabled]="userName =='' && password == ''" (click)="onLogin()" type="submit">Login</button>
      </div>
    </form>
  </div>
</body>

</html>